* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    width: 100%;
    font-size: 60px;
    font-family: Arial, Verdana;
    margin: 0px;
    padding: 10px;
}

#visit {
    font-size: 20px;
    margin-bottom: 10px;
}

#user, #event {
    background-color: #b9dfff;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

#user > div, #event > div {
    width: 100%;
}

#user .head, #event .head {
    display: block;
    background-color: #b9dfff;
}

#user .text, #event .text {
    width: 60%;
    display: inline-block;
    vertical-align: top;
}

#user .text div, #event .text div {
    background-color: #b9dfff;
    width: 100%;
}

#user .image, #event .image {
    display: inline-block;
    width: 35%;
}

#user-work {
    color: #535353;
}

#event-desc {
    font-size: 48px;
    color: #535353;
}